.angular
angular.json
docs
node_modules
README.md

.gitignore
.github
.git

.editorconfig
.idea

.dockerignore
docker-compose.prod.yaml
docker-compose.yaml
Dockerfile
Dockerfile-prod

manifest.webmanifest
nginx-custom.conf
ngsw-config.json

.prettierrc
