<main>
    <div class="main-info flex justify-between gap-2 sm:gap-6">
        <div class="main-info_first flex flex-col flex-[1_1_42%] md:flex-[1_1_35%] justify-between gap-3.5 sm:gap-8">
            <div class="main-info_education">
                <p class="main-info_education_title text-main-info-title uppercase font-bold mb-2 sm:mb-3.5">
                    <mark class="px-5 sm:px-8 py-1 sm:py-2 text-white bg-blue-950 rounded-r-full rounded-l-full dark:bg-blue-950">
                        My Education
                    </mark>
                </p>
                <div class="main-info_education_list pl-2 sm:pl-3">
                    <ul class="space-y-1.5 sm:space-y-2 text-blue-950 list-none list-inside text-main-info leading-none sm:leading-tight">
                        <li *ngFor="let education of content.education">
                            <b>{{ education.date }}</b>
                            <p class="mt-0.5">{{ education.info }}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-info_qualifications">
                <p class="main-info_qualifications_title text-main-info-title uppercase font-bold mb-2 sm:mb-3.5">
                    <mark class="px-5 sm:px-7 py-1 sm:py-2 text-white bg-blue-950 rounded-r-full rounded-l-full dark:bg-blue-950">
                        Key Qualifications
                    </mark>
                </p>
                <div class="main-info_qualifications_list ml-4 sm:ml-6">
                    <ul class="space-y-0.5 sm:space-y-1 text-blue-950 list-disc list-outside text-main-info leading-none sm:leading-tight">
                        <li *ngFor="let qualification of content.qualifications">
                            {{ qualification.info }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-info_languages">
                <p class="main-info_languages_title text-main-info-title uppercase font-bold mb-2 sm:mb-3.5">
                    <mark class="px-5 sm:px-8 py-1 sm:py-2 text-white bg-blue-950 rounded-r-full rounded-l-full dark:bg-blue-950">
                        Languages
                    </mark>
                </p>
                <div class="main-info_languages_list ml-4 sm:ml-6">
                    <ul class="space-y-0.5 sm:space-y-1 text-blue-950 list-disc list-outside text-main-info leading-none sm:leading-tight">
                        <li *ngFor="let language of content.languages">
                            {{ language.info }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-info_skills">
                <p class="main-info_skills_title text-main-info-title uppercase font-bold mb-2 sm:mb-3.5">
                    <mark class="px-5 sm:px-8 py-1 sm:py-2 text-white bg-blue-950 rounded-r-full rounded-l-full dark:bg-blue-950">
                        Expertise Skill
                    </mark>
                </p>
                <div class="main-info_skills_list ml-4 sm:ml-6">
                    <ul class="space-y-0.5 sm:space-y-1 text-blue-950 list-disc list-outside text-main-info leading-none sm:leading-tight">
                        <li>
                            <button id="main-stack-dropdown-button" data-dropdown-offset-distance="2" data-dropdown-delay="100" data-dropdown-trigger="hover" data-dropdown-toggle="main-stack-dropdown" class="flex items-center justify-between text-blue-950 w-auto hover:bg-transparent border-0 p-0 bg-transparent">
                                <span>Main Stack</span>
                                <svg-icon iconName="menu-arrow" classes="w-[6px] h-[7px] sm:w-2.5 sm:h-2.5 ml-1.5 sm:ml-2.5"></svg-icon>
                            </button>
                            <div id="main-stack-dropdown" class="absolute whitespace-nowrap z-10 hidden w-auto text-sm text-blue-950 bg-white border border-gray-100 rounded-lg shadow-md">
                                <div class="p-2 sm:p-4 text-blue-950 text-main-info">
                                    <ul class="space-y-1.5 sm:space-y-3 leading-none sm:leading-tight" aria-labelledby="main-stack-dropdown-button">
                                        <li>
                                            HTML 5
                                        </li>
                                        <li>
                                            <button id="css-dropdown-button" data-dropdown-placement="right" data-dropdown-delay="100" data-dropdown-trigger="hover" data-dropdown-toggle="css-dropdown" class="flex items-center justify-between text-blue-950 w-auto hover:bg-transparent border-0 p-0 bg-transparent">
                                                <span>CSS 3</span>
                                                <svg-icon iconName="menu-arrow" classes="w-[6px] h-[7px] sm:w-2.5 sm:h-2.5 ml-1.5 sm:ml-2.5"></svg-icon>
                                            </button>
                                            <div id="css-dropdown" class="absolute whitespace-nowrap z-10 hidden w-auto text-sm text-blue-950 bg-white border border-gray-100 rounded-lg shadow-md">
                                                <div class="p-2 sm:p-4 text-blue-950 text-main-info">
                                                    <ul class="space-y-1.5 sm:space-y-3 leading-none sm:leading-tight" aria-labelledby="css-dropdown-button">
                                                        <li>
                                                            SASS, SCSS
                                                        </li>
                                                        <li>
                                                            Bootstrap
                                                        </li>
                                                        <li>
                                                            Tailwind
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            JavaScript
                                        </li>
                                        <li>
                                            Angular
                                        </li>
                                        <li>
                                            TypeScript
                                        </li>
                                        <li>
                                            RxJs
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button id="angular-libraries-dropdown-button" data-dropdown-offset-distance="2" data-dropdown-delay="100" data-dropdown-trigger="hover" data-dropdown-toggle="angular-libraries-dropdown" class="flex items-center justify-between text-blue-950 w-auto hover:bg-transparent border-0 p-0 bg-transparent">
                                <span>Angular Libraries</span>
                                <svg-icon iconName="menu-arrow" classes="w-[6px] h-[7px] sm:w-2.5 sm:h-2.5 ml-1.5 sm:ml-2.5"></svg-icon>
                            </button>
                            <div id="angular-libraries-dropdown" class="absolute whitespace-nowrap z-10 hidden w-auto text-sm text-blue-950 bg-white border border-gray-100 rounded-lg shadow-md">
                                <div class="p-2 sm:p-4 text-blue-950 text-main-info">
                                    <ul class="space-y-1.5 sm:space-y-3 leading-none sm:leading-tight" aria-labelledby="angular-libraries-dropdown-button">
                                        <li>
                                            Angular Material ( UI )
                                        </li>
                                        <li>
                                            NG-Bootstrap ( UI )
                                        </li>
                                        <li>
                                            PrimeNG ( UI )
                                        </li>
                                        <li>
                                            NgRx ( State Management )
                                        </li>
                                        <li>
                                            Ag Grid ( UI Table )
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <button id="version-control-dropdown-button" data-dropdown-offset-distance="2" data-dropdown-delay="100" data-dropdown-trigger="hover" data-dropdown-toggle="version-control-dropdown" class="flex items-center justify-between text-blue-950 w-auto hover:bg-transparent border-0 p-0 bg-transparent">
                                <span>Version Control</span>
                                <svg-icon iconName="menu-arrow" classes="w-[6px] h-[7px] sm:w-2.5 sm:h-2.5 ml-1.5 sm:ml-2.5"></svg-icon>
                            </button>
                            <div id="version-control-dropdown" class="absolute whitespace-nowrap z-10 hidden w-auto text-sm text-blue-950 bg-white border border-gray-100 rounded-lg shadow-md">
                                <div class="p-2 sm:p-4 text-blue-950 text-main-info">
                                    <ul class="space-y-1.5 sm:space-y-3 leading-none sm:leading-tight" aria-labelledby="version-control-dropdown-button">
                                        <li>
                                            Git
                                        </li>
                                        <li>
                                            GitHub
                                        </li>
                                        <li>
                                            Azure Devops
                                        </li>
                                        <li>
                                            Bitbucket
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            Communication with Database
                        </li>
                        <li>
                            JavaScript Packages
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-info_second flex flex-col flex-[1_1_58%] md:flex-[1_1_65%]"></div>
    </div>
</main>
