<div
  id="main-info-modal"
  tabindex="-1"
  aria-label="Main Info Modal"
  class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-md max-h-full shadow-2xl">
    <div class="relative bg-typography-4 rounded-lg shadow">
      <button
        aria-label="Close"
        type="button"
        (click)="closeModal()"
        class="absolute top-0.5 right-0.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-6 h-6 sm:w-8 sm:h-8 ml-auto inline-flex justify-center items-center">
        <svg-icon iconName="close" classes="w-2.5 h-2.5 sm:w-3 sm:h-3" />
      </button>
      <div class="p-4 sm:p-6 text-typography-2 text-center text-modal-info">
        <p class="mb-2">
          This is an interactive and responsive CV made with Angular. For the
          source code check my GitHub repository.
        </p>
        <a
          class="underline hover:text-gray-500"
          href="https://github.com/samvel077/Samvel-Hakobyan-CV"
          target="_blank"
          (click)="closeModal()">
          Samvel-Hakobyan-CV
        </a>
      </div>
    </div>
  </div>
</div>
