<div class="layout flex flex-col gap-6 md:gap-10">
    <div class="container relative max-w-4xl bg-page bg-no-repeat bg-100% shadow-2xl">
        <img ngSrc="assets/images/background.jpg" class="invisible" height="1280" width="905" alt="background">

        <div class="wrapper absolute py-6 sm:py-12 w-wrapper-100% sm:w-wrapper-100%-sm h-full top-0">
            test
        </div>
    </div>

    <div class="container relative max-w-4xl bg-page bg-no-repeat bg-100% shadow-2xl">
        <img ngSrc="assets/images/background.jpg" class="invisible" height="1280" width="905" alt="background">

        <div class="wrapper absolute py-6 sm:py-12 w-wrapper-100% sm:w-wrapper-100%-sm h-full top-0">
            test
        </div>
    </div>
</div>
