@font-face {
  font-family: 'avenir-next-regular';
  src: url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.eot');
  src: url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.woff') format('woff'),
       url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.ttf') format('truetype'),
       url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.svg#avenir-next-regular') format('svg');
}
