/* You can add global styles to this file, and also import other style files */

@import 'fonts';
@import 'variables';
@import "mixins";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-serif;
    @apply bg-gray-100;

    height: 100%;
  }
}

body {
  // init the theme color variables
  @include theme-colors($light-theme: true);

  &.dark {
    @include theme-colors($light-theme: false);
  }

  min-height: 100%;
  padding: 20px;
}
