@font-face {
  font-family: 'avenir-next';
  font-style: normal;
  font-weight: 400;
  src: url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.eot');
  src: url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.eot#iefix')
    format('embedded-opentype');
  src:
    url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.woff')
      format('woff'),
    url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.ttf')
      format('truetype'),
    url('~src/assets/fonts/avenir-next-regular/avenir-next-regular.svg#avenir-next-regular')
      format('svg');
}

//@font-face {
//  font-family: 'avenir-next';
//  font-style: normal;
//  font-weight: 500;
//  src: url('~src/assets/fonts/avenir-next-medium/avenir-next-medium.eot');
//  src: url('~src/assets/fonts/avenir-next-medium/avenir-next-medium.eot#iefix') format('embedded-opentype');
//  src: url('~src/assets/fonts/avenir-next-medium/avenir-next-medium.woff') format('woff'),
//       url('~src/assets/fonts/avenir-next-medium/avenir-next-medium.ttf') format('truetype'),
//       url('~src/assets/fonts/avenir-next-medium/avenir-next-medium.svg#avenir-next-medium') format('svg');
//}
//
//@font-face {
//  font-family: 'avenir-next';
//  font-style: normal;
//  font-weight: 600;
//  src: url('~src/assets/fonts/avenir-next-demi/avenir-next-demi.eot');
//  src: url('~src/assets/fonts/avenir-next-demi/avenir-next-demi.eot#iefix') format('embedded-opentype');
//  src: url('~src/assets/fonts/avenir-next-demi/avenir-next-demi.woff') format('woff'),
//       url('~src/assets/fonts/avenir-next-demi/avenir-next-demi.ttf') format('truetype'),
//       url('~src/assets/fonts/avenir-next-demi/avenir-next-demi.svg#avenir-next-demi') format('svg');
//}
//
//@font-face {
//  font-family: 'avenir-next';
//  font-style: normal;
//  font-weight: 700;
//  src: url('~src/assets/fonts/avenir-next-bold/avenir-next-bold.eot');
//  src: url('~src/assets/fonts/avenir-next-bold/avenir-next-bold.eot#iefix') format('embedded-opentype');
//  src: url('~src/assets/fonts/avenir-next-bold/avenir-next-bold.woff') format('woff'),
//       url('~src/assets/fonts/avenir-next-bold/avenir-next-bold.ttf') format('truetype'),
//       url('~src/assets/fonts/avenir-next-bold/avenir-next-bold.svg#avenir-next-bold') format('svg');
//}
//
//@font-face {
//  font-family: 'avenir-next';
//  font-style: normal;
//  font-weight: 900;
//  src: url('~src/assets/fonts/avenir-next-heavy/avenir-next-heavy.eot');
//  src: url('~src/assets/fonts/avenir-next-heavy/avenir-next-heavy.eot#iefix') format('embedded-opentype');
//  src: url('~src/assets/fonts/avenir-next-heavy/avenir-next-heavy.woff') format('woff'),
//       url('~src/assets/fonts/avenir-next-heavy/avenir-next-heavy.ttf') format('truetype'),
//       url('~src/assets/fonts/avenir-next-heavy/avenir-next-heavy.svg#avenir-next-heavy') format('svg');
//}
