@mixin theme-colors($colors) {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }
}

@mixin adaptive-font($minSize, $maxSize, $maxWidth, $minWidth: 375px) {
  $addSize: ($maxSize - $minSize) * 2;

  font-size: #{$maxSize + px};

  @media (max-width: #{$maxWidth + px}) {
    font-size: calc(#{$minSize + px} + #{$addSize} * (100vw - #{$minWidth}) / (#{$maxWidth} + 150));
  }

  @media (max-width: $minWidth) {
    font-size: #{$minSize + px};
  }
}
